/* line 5, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../scss/_grid.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 1200px) {
  /* line 2, ../scss/_grid.scss */
  .container {
    width: 1170px;
  }
}
@media (min-width: 992px) {
  /* line 2, ../scss/_grid.scss */
  .container {
    width: 970px;
  }
}
@media (min-width: 768px) {
  /* line 2, ../scss/_grid.scss */
  .container {
    width: 750px;
  }
}

/* line 17, ../scss/_grid.scss */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* line 25, ../scss/_grid.scss */
.row {
  margin-left: -1rem;
  margin-right: -1rem;
}

/* line 29, ../scss/_grid.scss */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* line 46, ../scss/_grid.scss */
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

/* line 49, ../scss/_grid.scss */
.col-xs-12 {
  width: 100%;
}

/* line 52, ../scss/_grid.scss */
.col-xs-11 {
  width: 91.66666667%;
}

/* line 55, ../scss/_grid.scss */
.col-xs-10 {
  width: 83.33333333%;
}

/* line 58, ../scss/_grid.scss */
.col-xs-9 {
  width: 75%;
}

/* line 61, ../scss/_grid.scss */
.col-xs-8 {
  width: 66.66666667%;
}

/* line 64, ../scss/_grid.scss */
.col-xs-7 {
  width: 58.33333333%;
}

/* line 67, ../scss/_grid.scss */
.col-xs-6 {
  width: 50%;
}

/* line 70, ../scss/_grid.scss */
.col-xs-5 {
  width: 41.66666667%;
}

/* line 73, ../scss/_grid.scss */
.col-xs-4 {
  width: 33.33333333%;
}

/* line 76, ../scss/_grid.scss */
.col-xs-3 {
  width: 25%;
}

/* line 79, ../scss/_grid.scss */
.col-xs-2 {
  width: 16.66666667%;
}

/* line 82, ../scss/_grid.scss */
.col-xs-1 {
  width: 8.33333333%;
}

/* line 85, ../scss/_grid.scss */
.col-xs-pull-12 {
  right: 100%;
}

/* line 88, ../scss/_grid.scss */
.col-xs-pull-11 {
  right: 91.66666667%;
}

/* line 91, ../scss/_grid.scss */
.col-xs-pull-10 {
  right: 83.33333333%;
}

/* line 94, ../scss/_grid.scss */
.col-xs-pull-9 {
  right: 75%;
}

/* line 97, ../scss/_grid.scss */
.col-xs-pull-8 {
  right: 66.66666667%;
}

/* line 100, ../scss/_grid.scss */
.col-xs-pull-7 {
  right: 58.33333333%;
}

/* line 103, ../scss/_grid.scss */
.col-xs-pull-6 {
  right: 50%;
}

/* line 106, ../scss/_grid.scss */
.col-xs-pull-5 {
  right: 41.66666667%;
}

/* line 109, ../scss/_grid.scss */
.col-xs-pull-4 {
  right: 33.33333333%;
}

/* line 112, ../scss/_grid.scss */
.col-xs-pull-3 {
  right: 25%;
}

/* line 115, ../scss/_grid.scss */
.col-xs-pull-2 {
  right: 16.66666667%;
}

/* line 118, ../scss/_grid.scss */
.col-xs-pull-1 {
  right: 8.33333333%;
}

/* line 121, ../scss/_grid.scss */
.col-xs-pull-0 {
  right: auto;
}

/* line 124, ../scss/_grid.scss */
.col-xs-push-12 {
  left: 100%;
}

/* line 127, ../scss/_grid.scss */
.col-xs-push-11 {
  left: 91.66666667%;
}

/* line 130, ../scss/_grid.scss */
.col-xs-push-10 {
  left: 83.33333333%;
}

/* line 133, ../scss/_grid.scss */
.col-xs-push-9 {
  left: 75%;
}

/* line 136, ../scss/_grid.scss */
.col-xs-push-8 {
  left: 66.66666667%;
}

/* line 139, ../scss/_grid.scss */
.col-xs-push-7 {
  left: 58.33333333%;
}

/* line 142, ../scss/_grid.scss */
.col-xs-push-6 {
  left: 50%;
}

/* line 145, ../scss/_grid.scss */
.col-xs-push-5 {
  left: 41.66666667%;
}

/* line 148, ../scss/_grid.scss */
.col-xs-push-4 {
  left: 33.33333333%;
}

/* line 151, ../scss/_grid.scss */
.col-xs-push-3 {
  left: 25%;
}

/* line 154, ../scss/_grid.scss */
.col-xs-push-2 {
  left: 16.66666667%;
}

/* line 157, ../scss/_grid.scss */
.col-xs-push-1 {
  left: 8.33333333%;
}

/* line 160, ../scss/_grid.scss */
.col-xs-push-0 {
  left: auto;
}

/* line 163, ../scss/_grid.scss */
.col-xs-offset-12 {
  margin-left: 100%;
}

/* line 166, ../scss/_grid.scss */
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

/* line 169, ../scss/_grid.scss */
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

/* line 172, ../scss/_grid.scss */
.col-xs-offset-9 {
  margin-left: 75%;
}

/* line 175, ../scss/_grid.scss */
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

/* line 178, ../scss/_grid.scss */
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

/* line 181, ../scss/_grid.scss */
.col-xs-offset-6 {
  margin-left: 50%;
}

/* line 184, ../scss/_grid.scss */
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

/* line 187, ../scss/_grid.scss */
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

/* line 190, ../scss/_grid.scss */
.col-xs-offset-3 {
  margin-left: 25%;
}

/* line 193, ../scss/_grid.scss */
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

/* line 196, ../scss/_grid.scss */
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

/* line 199, ../scss/_grid.scss */
.col-xs-offset-0 {
  margin-left: 0%;
}

@media (min-width: 768px) {
  /* line 203, ../scss/_grid.scss */
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  /* line 206, ../scss/_grid.scss */
  .col-sm-12 {
    width: 100%;
  }

  /* line 209, ../scss/_grid.scss */
  .col-sm-11 {
    width: 91.66666667%;
  }

  /* line 212, ../scss/_grid.scss */
  .col-sm-10 {
    width: 83.33333333%;
  }

  /* line 215, ../scss/_grid.scss */
  .col-sm-9 {
    width: 75%;
  }

  /* line 218, ../scss/_grid.scss */
  .col-sm-8 {
    width: 66.66666667%;
  }

  /* line 221, ../scss/_grid.scss */
  .col-sm-7 {
    width: 58.33333333%;
  }

  /* line 224, ../scss/_grid.scss */
  .col-sm-6 {
    width: 50%;
  }

  /* line 227, ../scss/_grid.scss */
  .col-sm-5 {
    width: 41.66666667%;
  }

  /* line 230, ../scss/_grid.scss */
  .col-sm-4 {
    width: 33.33333333%;
  }

  /* line 233, ../scss/_grid.scss */
  .col-sm-3 {
    width: 25%;
  }

  /* line 236, ../scss/_grid.scss */
  .col-sm-2 {
    width: 16.66666667%;
  }

  /* line 239, ../scss/_grid.scss */
  .col-sm-1 {
    width: 8.33333333%;
  }

  /* line 242, ../scss/_grid.scss */
  .col-sm-pull-12 {
    right: 100%;
  }

  /* line 245, ../scss/_grid.scss */
  .col-sm-pull-11 {
    right: 91.66666667%;
  }

  /* line 248, ../scss/_grid.scss */
  .col-sm-pull-10 {
    right: 83.33333333%;
  }

  /* line 251, ../scss/_grid.scss */
  .col-sm-pull-9 {
    right: 75%;
  }

  /* line 254, ../scss/_grid.scss */
  .col-sm-pull-8 {
    right: 66.66666667%;
  }

  /* line 257, ../scss/_grid.scss */
  .col-sm-pull-7 {
    right: 58.33333333%;
  }

  /* line 260, ../scss/_grid.scss */
  .col-sm-pull-6 {
    right: 50%;
  }

  /* line 263, ../scss/_grid.scss */
  .col-sm-pull-5 {
    right: 41.66666667%;
  }

  /* line 266, ../scss/_grid.scss */
  .col-sm-pull-4 {
    right: 33.33333333%;
  }

  /* line 269, ../scss/_grid.scss */
  .col-sm-pull-3 {
    right: 25%;
  }

  /* line 272, ../scss/_grid.scss */
  .col-sm-pull-2 {
    right: 16.66666667%;
  }

  /* line 275, ../scss/_grid.scss */
  .col-sm-pull-1 {
    right: 8.33333333%;
  }

  /* line 278, ../scss/_grid.scss */
  .col-sm-pull-0 {
    right: auto;
  }

  /* line 281, ../scss/_grid.scss */
  .col-sm-push-12 {
    left: 100%;
  }

  /* line 284, ../scss/_grid.scss */
  .col-sm-push-11 {
    left: 91.66666667%;
  }

  /* line 287, ../scss/_grid.scss */
  .col-sm-push-10 {
    left: 83.33333333%;
  }

  /* line 290, ../scss/_grid.scss */
  .col-sm-push-9 {
    left: 75%;
  }

  /* line 293, ../scss/_grid.scss */
  .col-sm-push-8 {
    left: 66.66666667%;
  }

  /* line 296, ../scss/_grid.scss */
  .col-sm-push-7 {
    left: 58.33333333%;
  }

  /* line 299, ../scss/_grid.scss */
  .col-sm-push-6 {
    left: 50%;
  }

  /* line 302, ../scss/_grid.scss */
  .col-sm-push-5 {
    left: 41.66666667%;
  }

  /* line 305, ../scss/_grid.scss */
  .col-sm-push-4 {
    left: 33.33333333%;
  }

  /* line 308, ../scss/_grid.scss */
  .col-sm-push-3 {
    left: 25%;
  }

  /* line 311, ../scss/_grid.scss */
  .col-sm-push-2 {
    left: 16.66666667%;
  }

  /* line 314, ../scss/_grid.scss */
  .col-sm-push-1 {
    left: 8.33333333%;
  }

  /* line 317, ../scss/_grid.scss */
  .col-sm-push-0 {
    left: auto;
  }

  /* line 320, ../scss/_grid.scss */
  .col-sm-offset-12 {
    margin-left: 100%;
  }

  /* line 323, ../scss/_grid.scss */
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 326, ../scss/_grid.scss */
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 329, ../scss/_grid.scss */
  .col-sm-offset-9 {
    margin-left: 75%;
  }

  /* line 332, ../scss/_grid.scss */
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 335, ../scss/_grid.scss */
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 338, ../scss/_grid.scss */
  .col-sm-offset-6 {
    margin-left: 50%;
  }

  /* line 341, ../scss/_grid.scss */
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 344, ../scss/_grid.scss */
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 347, ../scss/_grid.scss */
  .col-sm-offset-3 {
    margin-left: 25%;
  }

  /* line 350, ../scss/_grid.scss */
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 353, ../scss/_grid.scss */
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 356, ../scss/_grid.scss */
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  /* line 361, ../scss/_grid.scss */
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  /* line 364, ../scss/_grid.scss */
  .col-md-12 {
    width: 100%;
  }

  /* line 367, ../scss/_grid.scss */
  .col-md-11 {
    width: 91.66666667%;
  }

  /* line 370, ../scss/_grid.scss */
  .col-md-10 {
    width: 83.33333333%;
  }

  /* line 373, ../scss/_grid.scss */
  .col-md-9 {
    width: 75%;
  }

  /* line 376, ../scss/_grid.scss */
  .col-md-8 {
    width: 66.66666667%;
  }

  /* line 379, ../scss/_grid.scss */
  .col-md-7 {
    width: 58.33333333%;
  }

  /* line 382, ../scss/_grid.scss */
  .col-md-6 {
    width: 50%;
  }

  /* line 385, ../scss/_grid.scss */
  .col-md-5 {
    width: 41.66666667%;
  }

  /* line 388, ../scss/_grid.scss */
  .col-md-4 {
    width: 33.33333333%;
  }

  /* line 391, ../scss/_grid.scss */
  .col-md-3 {
    width: 25%;
  }

  /* line 394, ../scss/_grid.scss */
  .col-md-2 {
    width: 16.66666667%;
  }

  /* line 397, ../scss/_grid.scss */
  .col-md-1 {
    width: 8.33333333%;
  }

  /* line 400, ../scss/_grid.scss */
  .col-md-pull-12 {
    right: 100%;
  }

  /* line 403, ../scss/_grid.scss */
  .col-md-pull-11 {
    right: 91.66666667%;
  }

  /* line 406, ../scss/_grid.scss */
  .col-md-pull-10 {
    right: 83.33333333%;
  }

  /* line 409, ../scss/_grid.scss */
  .col-md-pull-9 {
    right: 75%;
  }

  /* line 412, ../scss/_grid.scss */
  .col-md-pull-8 {
    right: 66.66666667%;
  }

  /* line 415, ../scss/_grid.scss */
  .col-md-pull-7 {
    right: 58.33333333%;
  }

  /* line 418, ../scss/_grid.scss */
  .col-md-pull-6 {
    right: 50%;
  }

  /* line 421, ../scss/_grid.scss */
  .col-md-pull-5 {
    right: 41.66666667%;
  }

  /* line 424, ../scss/_grid.scss */
  .col-md-pull-4 {
    right: 33.33333333%;
  }

  /* line 427, ../scss/_grid.scss */
  .col-md-pull-3 {
    right: 25%;
  }

  /* line 430, ../scss/_grid.scss */
  .col-md-pull-2 {
    right: 16.66666667%;
  }

  /* line 433, ../scss/_grid.scss */
  .col-md-pull-1 {
    right: 8.33333333%;
  }

  /* line 436, ../scss/_grid.scss */
  .col-md-pull-0 {
    right: auto;
  }

  /* line 439, ../scss/_grid.scss */
  .col-md-push-12 {
    left: 100%;
  }

  /* line 442, ../scss/_grid.scss */
  .col-md-push-11 {
    left: 91.66666667%;
  }

  /* line 445, ../scss/_grid.scss */
  .col-md-push-10 {
    left: 83.33333333%;
  }

  /* line 448, ../scss/_grid.scss */
  .col-md-push-9 {
    left: 75%;
  }

  /* line 451, ../scss/_grid.scss */
  .col-md-push-8 {
    left: 66.66666667%;
  }

  /* line 454, ../scss/_grid.scss */
  .col-md-push-7 {
    left: 58.33333333%;
  }

  /* line 457, ../scss/_grid.scss */
  .col-md-push-6 {
    left: 50%;
  }

  /* line 460, ../scss/_grid.scss */
  .col-md-push-5 {
    left: 41.66666667%;
  }

  /* line 463, ../scss/_grid.scss */
  .col-md-push-4 {
    left: 33.33333333%;
  }

  /* line 466, ../scss/_grid.scss */
  .col-md-push-3 {
    left: 25%;
  }

  /* line 469, ../scss/_grid.scss */
  .col-md-push-2 {
    left: 16.66666667%;
  }

  /* line 472, ../scss/_grid.scss */
  .col-md-push-1 {
    left: 8.33333333%;
  }

  /* line 475, ../scss/_grid.scss */
  .col-md-push-0 {
    left: auto;
  }

  /* line 478, ../scss/_grid.scss */
  .col-md-offset-12 {
    margin-left: 100%;
  }

  /* line 481, ../scss/_grid.scss */
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 484, ../scss/_grid.scss */
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 487, ../scss/_grid.scss */
  .col-md-offset-9 {
    margin-left: 75%;
  }

  /* line 490, ../scss/_grid.scss */
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 493, ../scss/_grid.scss */
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 496, ../scss/_grid.scss */
  .col-md-offset-6 {
    margin-left: 50%;
  }

  /* line 499, ../scss/_grid.scss */
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 502, ../scss/_grid.scss */
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 505, ../scss/_grid.scss */
  .col-md-offset-3 {
    margin-left: 25%;
  }

  /* line 508, ../scss/_grid.scss */
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 511, ../scss/_grid.scss */
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 514, ../scss/_grid.scss */
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  /* line 519, ../scss/_grid.scss */
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  /* line 522, ../scss/_grid.scss */
  .col-lg-12 {
    width: 100%;
  }

  /* line 525, ../scss/_grid.scss */
  .col-lg-11 {
    width: 91.66666667%;
  }

  /* line 528, ../scss/_grid.scss */
  .col-lg-10 {
    width: 83.33333333%;
  }

  /* line 531, ../scss/_grid.scss */
  .col-lg-9 {
    width: 75%;
  }

  /* line 534, ../scss/_grid.scss */
  .col-lg-8 {
    width: 66.66666667%;
  }

  /* line 537, ../scss/_grid.scss */
  .col-lg-7 {
    width: 58.33333333%;
  }

  /* line 540, ../scss/_grid.scss */
  .col-lg-6 {
    width: 50%;
  }

  /* line 543, ../scss/_grid.scss */
  .col-lg-5 {
    width: 41.66666667%;
  }

  /* line 546, ../scss/_grid.scss */
  .col-lg-4 {
    width: 33.33333333%;
  }

  /* line 549, ../scss/_grid.scss */
  .col-lg-3 {
    width: 25%;
  }

  /* line 552, ../scss/_grid.scss */
  .col-lg-2 {
    width: 16.66666667%;
  }

  /* line 555, ../scss/_grid.scss */
  .col-lg-1 {
    width: 8.33333333%;
  }

  /* line 558, ../scss/_grid.scss */
  .col-lg-pull-12 {
    right: 100%;
  }

  /* line 561, ../scss/_grid.scss */
  .col-lg-pull-11 {
    right: 91.66666667%;
  }

  /* line 564, ../scss/_grid.scss */
  .col-lg-pull-10 {
    right: 83.33333333%;
  }

  /* line 567, ../scss/_grid.scss */
  .col-lg-pull-9 {
    right: 75%;
  }

  /* line 570, ../scss/_grid.scss */
  .col-lg-pull-8 {
    right: 66.66666667%;
  }

  /* line 573, ../scss/_grid.scss */
  .col-lg-pull-7 {
    right: 58.33333333%;
  }

  /* line 576, ../scss/_grid.scss */
  .col-lg-pull-6 {
    right: 50%;
  }

  /* line 579, ../scss/_grid.scss */
  .col-lg-pull-5 {
    right: 41.66666667%;
  }

  /* line 582, ../scss/_grid.scss */
  .col-lg-pull-4 {
    right: 33.33333333%;
  }

  /* line 585, ../scss/_grid.scss */
  .col-lg-pull-3 {
    right: 25%;
  }

  /* line 588, ../scss/_grid.scss */
  .col-lg-pull-2 {
    right: 16.66666667%;
  }

  /* line 591, ../scss/_grid.scss */
  .col-lg-pull-1 {
    right: 8.33333333%;
  }

  /* line 594, ../scss/_grid.scss */
  .col-lg-pull-0 {
    right: auto;
  }

  /* line 597, ../scss/_grid.scss */
  .col-lg-push-12 {
    left: 100%;
  }

  /* line 600, ../scss/_grid.scss */
  .col-lg-push-11 {
    left: 91.66666667%;
  }

  /* line 603, ../scss/_grid.scss */
  .col-lg-push-10 {
    left: 83.33333333%;
  }

  /* line 606, ../scss/_grid.scss */
  .col-lg-push-9 {
    left: 75%;
  }

  /* line 609, ../scss/_grid.scss */
  .col-lg-push-8 {
    left: 66.66666667%;
  }

  /* line 612, ../scss/_grid.scss */
  .col-lg-push-7 {
    left: 58.33333333%;
  }

  /* line 615, ../scss/_grid.scss */
  .col-lg-push-6 {
    left: 50%;
  }

  /* line 618, ../scss/_grid.scss */
  .col-lg-push-5 {
    left: 41.66666667%;
  }

  /* line 621, ../scss/_grid.scss */
  .col-lg-push-4 {
    left: 33.33333333%;
  }

  /* line 624, ../scss/_grid.scss */
  .col-lg-push-3 {
    left: 25%;
  }

  /* line 627, ../scss/_grid.scss */
  .col-lg-push-2 {
    left: 16.66666667%;
  }

  /* line 630, ../scss/_grid.scss */
  .col-lg-push-1 {
    left: 8.33333333%;
  }

  /* line 633, ../scss/_grid.scss */
  .col-lg-push-0 {
    left: auto;
  }

  /* line 636, ../scss/_grid.scss */
  .col-lg-offset-12 {
    margin-left: 100%;
  }

  /* line 639, ../scss/_grid.scss */
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 642, ../scss/_grid.scss */
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 645, ../scss/_grid.scss */
  .col-lg-offset-9 {
    margin-left: 75%;
  }

  /* line 648, ../scss/_grid.scss */
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 651, ../scss/_grid.scss */
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 654, ../scss/_grid.scss */
  .col-lg-offset-6 {
    margin-left: 50%;
  }

  /* line 657, ../scss/_grid.scss */
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 660, ../scss/_grid.scss */
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 663, ../scss/_grid.scss */
  .col-lg-offset-3 {
    margin-left: 25%;
  }

  /* line 666, ../scss/_grid.scss */
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 669, ../scss/_grid.scss */
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 672, ../scss/_grid.scss */
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
/* line 676, ../scss/_grid.scss */
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

/* line 687, ../scss/_grid.scss */
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}

/* line 693, ../scss/_grid.scss */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 698, ../scss/_grid.scss */
.pull-right {
  float: right !important;
}

/* line 701, ../scss/_grid.scss */
.pull-left {
  float: left !important;
}

/* line 2, ../scss/_main-layout.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 8, ../scss/_main-layout.scss */
html {
  font-size: 16px;
}

/* line 12, ../scss/_main-layout.scss */
body {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

/* line 18, ../scss/_main-layout.scss */
.mainContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 25, ../scss/_main-layout.scss */
.mainContent {
  position: absolute;
}

/* line 29, ../scss/_main-layout.scss */
.homePage_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 50%;
  bottom: 50%;
}

/* line 37, ../scss/_main-layout.scss */
.aboutUsPage_wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0.15);
}

/* line 48, ../scss/_main-layout.scss */
.teamPage_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 101, 128, 0.15);
}

/* line 56, ../scss/_main-layout.scss */
.contactPage_wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  background-color: rgba(17, 24, 32, 0.15);
}

/* line 65, ../scss/_main-layout.scss */
.pageContent_wrapper {
  padding: 4.5rem;
}

/* line 4, ../scss/_main-style.scss */
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

/* line 10, ../scss/_main-style.scss */
h1 {
  line-height: 1.5;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}

/* line 17, ../scss/_main-style.scss */
h2 {
  font-size: 1.5rem;
}

/* line 23, ../scss/_main-style.scss */
.hide {
  display: none !important;
}

/* line 26, ../scss/_main-style.scss */
.show {
  display: block !important;
}

/* line 2, ../scss/_static-layer.scss */
.navigation_wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 10, ../scss/_static-layer.scss */
.navigation_wrapper .navigation_item {
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  z-index: 150;
  position: absolute;
  overflow: hidden;
  cursor: pointer;
}
/* line 19, ../scss/_static-layer.scss */
.navigation_wrapper .navigation_item .nav_label {
  position: absolute;
  line-height: 1;
  font-size: 12px;
  text-transform: uppercase;
}
/* line 26, ../scss/_static-layer.scss */
.navigation_wrapper .navigation_item .nav_icon {
  position: absolute;
}
/* line 32, ../scss/_static-layer.scss */
.navigation_wrapper .navigation_item .navigationIcon_hover {
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 42, ../scss/_static-layer.scss */
.navigation_wrapper .navigation_item:hover {
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
/* line 44, ../scss/_static-layer.scss */
.navigation_wrapper .navigation_item:hover.navigation_top {
  top: 1.5rem;
}
/* line 47, ../scss/_static-layer.scss */
.navigation_wrapper .navigation_item:hover.navigation_bottom {
  bottom: 1.5rem;
}
/* line 50, ../scss/_static-layer.scss */
.navigation_wrapper .navigation_item:hover.navigation_left {
  left: 1.5rem;
}
/* line 53, ../scss/_static-layer.scss */
.navigation_wrapper .navigation_item:hover.navigation_right {
  right: 1.5rem;
}
/* line 57, ../scss/_static-layer.scss */
.navigation_wrapper .navigation_item:hover .navigationIcon_active {
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  visibility: hidden;
  opacity: 0;
}
/* line 62, ../scss/_static-layer.scss */
.navigation_wrapper .navigation_item:hover .navigationIcon_hover {
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  display: inline-block;
  visibility: visible;
  opacity: 1;
}
/* line 72, ../scss/_static-layer.scss */
.navigation_wrapper .navigation_item.navigation_top, .navigation_wrapper .navigation_item.navigation_bottom {
  width: 9rem;
  height: 3rem;
}
/* line 76, ../scss/_static-layer.scss */
.navigation_wrapper .navigation_item.navigation_top .nav_label, .navigation_wrapper .navigation_item.navigation_bottom .nav_label {
  letter-spacing: 2px;
}
/* line 79, ../scss/_static-layer.scss */
.navigation_wrapper .navigation_item.navigation_top img, .navigation_wrapper .navigation_item.navigation_bottom img {
  display: inline-block;
  width: auto;
  height: 100%;
}
/* line 85, ../scss/_static-layer.scss */
.navigation_wrapper .navigation_item.navigation_right, .navigation_wrapper .navigation_item.navigation_left {
  width: 3rem;
  height: 9rem;
}
/* line 89, ../scss/_static-layer.scss */
.navigation_wrapper .navigation_item.navigation_right img, .navigation_wrapper .navigation_item.navigation_left img {
  display: inline-block;
  width: 100%;
  height: auto;
}
/* line 100, ../scss/_static-layer.scss */
.navigation_wrapper .navigation_top {
  top: 0%;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 104, ../scss/_static-layer.scss */
.navigation_wrapper .navigation_top .nav_label {
  bottom: 0;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 109, ../scss/_static-layer.scss */
.navigation_wrapper .navigation_top .nav_icon {
  height: 1.5rem;
  top: 0;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 117, ../scss/_static-layer.scss */
.navigation_wrapper .navigation_bottom {
  left: 50%;
  bottom: 0;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 121, ../scss/_static-layer.scss */
.navigation_wrapper .navigation_bottom .nav_label {
  top: 0;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 126, ../scss/_static-layer.scss */
.navigation_wrapper .navigation_bottom .nav_icon {
  height: 1.5rem;
  bottom: 0;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 134, ../scss/_static-layer.scss */
.navigation_wrapper .navigation_right {
  top: 50%;
  right: 0;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 139, ../scss/_static-layer.scss */
.navigation_wrapper .navigation_right .nav_label {
  top: 50%;
  left: 0;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  writing-mode: vertical-rl;
  text-orientation: upright;
}
/* line 146, ../scss/_static-layer.scss */
.navigation_wrapper .navigation_right .nav_icon {
  width: 1.5rem !important;
  top: 50%;
  right: 0;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 154, ../scss/_static-layer.scss */
.navigation_wrapper .navigation_left {
  top: 50%;
  left: 0;
  width: 1.5rem;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 160, ../scss/_static-layer.scss */
.navigation_wrapper .navigation_left .nav_label {
  top: 50%;
  right: 0;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  writing-mode: vertical-rl;
  text-orientation: upright;
}
/* line 167, ../scss/_static-layer.scss */
.navigation_wrapper .navigation_left .nav_icon {
  width: 1.5rem;
  top: 50%;
  left: 0;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 177, ../scss/_static-layer.scss */
.socialIcons_wrapper {
  position: absolute;
  left: 1.5rem;
  bottom: 1.5rem;
  z-index: 60;
}
/* line 183, ../scss/_static-layer.scss */
.socialIcons_wrapper .socialIcons_list .socialIcons_li {
  display: inline-block;
  margin-right: 0.75rem;
}
/* line 187, ../scss/_static-layer.scss */
.socialIcons_wrapper .socialIcons_list .socialIcons_li:last-child {
  margin-right: 0;
}
/* line 190, ../scss/_static-layer.scss */
.socialIcons_wrapper .socialIcons_list .socialIcons_li .socialIcons_link {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-color: #da6f41;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 198, ../scss/_static-layer.scss */
.socialIcons_wrapper .socialIcons_list .socialIcons_li .socialIcons_link:hover {
  background-color: #cd6846;
}
/* line 202, ../scss/_static-layer.scss */
.socialIcons_wrapper .socialIcons_list .socialIcons_li .socialIcons_link .fa {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 2, ../scss/_home-page.scss */
.fullscreenBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
/* line 10, ../scss/_home-page.scss */
.fullscreenBackground .fullscreenBackground-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  pointer-events: none;
  z-index: -100;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 25, ../scss/_home-page.scss */
.logo_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
/* line 33, ../scss/_home-page.scss */
.logo_wrapper .logo_container {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 23.5%;
  min-height: 9rem;
  width: auto;
  overflow: hidden;
  text-align: center;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 49, ../scss/_home-page.scss */
.logo_wrapper .logo_container .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  z-index: 70;
  height: 98%;
  width: auto;
}
/* line 58, ../scss/_home-page.scss */
.logo_wrapper .logo_container .logo.logo_main {
  display: inline-block;
  opacity: 0.72;
  z-index: 80;
}
/* line 63, ../scss/_home-page.scss */
.logo_wrapper .logo_container .logo.logo_scene1, .logo_wrapper .logo_container .logo.logo_scene2, .logo_wrapper .logo_container .logo.logo_scene3, .logo_wrapper .logo_container .logo.logo_scene4 {
  visibility: hidden;
}
/* line 70, ../scss/_home-page.scss */
.logo_wrapper .logo_container .logo.logo_scene1 {
  opacity: 0.79;
}
/* line 73, ../scss/_home-page.scss */
.logo_wrapper .logo_container .logo.logo_scene2 {
  opacity: 0.86;
}
/* line 76, ../scss/_home-page.scss */
.logo_wrapper .logo_container .logo.logo_scene1 {
  opacity: 0.93;
}
/* line 79, ../scss/_home-page.scss */
.logo_wrapper .logo_container .logo.logo_scene1 {
  opacity: 1;
}

/* line 2, ../scss/_about-us-page.scss */
.aboutUsPage_container {
  position: relative;
  width: 100%;
  height: 100%;
  border-left: 0.75rem solid #3bb0c9;
  background-color: transparent;
}

/* line 10, ../scss/_about-us-page.scss */
.pageContainer {
  position: relative;
  height: 100%;
  width: 100%;
}
/* line 15, ../scss/_about-us-page.scss */
.pageContainer .animatedLine {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 3px;
  width: 3px;
  background-color: white;
}

/* line 28, ../scss/_about-us-page.scss */
.left-triangle {
  background-color: #3bb0c9;
}

/* line 32, ../scss/_about-us-page.scss */
.pageContent_wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 40%;
  bottom: 0;
}
/* line 39, ../scss/_about-us-page.scss */
.pageContent_wrapper .content_wrapper {
  -webkit-clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: url(#clip-shape-about-us-page);
}

/* line 45, ../scss/_about-us-page.scss */
.separator {
  color: white;
  background-color: #006580;
  height: 100%;
  /*Chrome,Safari*/
  width: 100%;
  /*Firefox*/
}
