


a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

h1{
	line-height: 1.5;
	font-size  : $lh*2;
	font-weight: 600;
	text-transform: uppercase;
	
}
h2 {
	font-size: $lh;
}


// Helper Classes
.hide {
  display: none !important;
}
.show {
  display: block !important;
}