// font settings 
$fs: 1rem;
$lh: $fs * 1.5;

$ff: 'Montserrat', sans-serif; // 200, 400, 400i, 600


// Color

// Primary Color
$tirqouise: #3bb0c9;
$tirqouise-dark: #006580;

$orange: #da6f41;
$orange-hover: #cd6846;


// Base Color
$white: #fff;
$beige: #f5f0dc;
$black: #111820;
